<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705409097957-415qgk6e0e2gj31hcse6ghn27kbpomfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705409097957-415qgk6e0e2gj31hcse6ghn27kbpomfc</string>
	<key>API_KEY</key>
	<string>AIzaSyCBDUwlGpGjKYFy2hoTAAH0g0taVvEETfI</string>
	<key>GCM_SENDER_ID</key>
	<string>705409097957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peterszucs.MyPlace</string>
	<key>PROJECT_ID</key>
	<string>iosmyplace</string>
	<key>STORAGE_BUCKET</key>
	<string>iosmyplace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705409097957:ios:f78dd9ad624fb30e2db40c</string>
</dict>
</plist>